* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    color:white;
}

:root {
    --outlineT-color: rgb(0, 0, 0);
    --Thead-color: rgb(84,84,84);
    --Tbody-color: rgb(110, 110, 110);
}

body {
    background-color: var(--Thead-color);
    display: flex;
    justify-content: center;
}

table {
    background-color: var(--outlineT-color);
    margin-top: 0.5em;
}

thead th {
    background-color: var(--Thead-color);
    padding: 0.5em 2em 0.5em 2em;
}

tbody th {
    background-color: var(--Tbody-color);
    font-size:small;
    padding: 0.3em 1em 0.3em 1em;
}