<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/painel.css') }}">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr id="placeholder-thead"></tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
<script src="{{ url_for('static', filename='js/painel.js') }}"></script>
</html>